

#vertical-right {
  direction: rtl;
  text-align: right;
  font-size: 1.15rem;
  position: sticky;
  font-family: Shabnam;

}

.text-blue {
  color: #5e72e4 !important;
}

a.text-blue:hover,
a.text-blue:focus {
  color: #324cdd !important;
}

.text-indigo {
  color: #5603ad !important;
}

a.text-indigo:hover,
a.text-indigo:focus {
  color: #3d027b !important;
}

.text-purple {
  color: #8965e0 !important;
}

a.text-purple:hover,
a.text-purple:focus {
  color: #683bd7 !important;
}

.text-pink {
  color: #f3a4b5 !important;
}

a.text-pink:hover,
a.text-pink:focus {
  color: #ed7790 !important;
}

.text-red {
  color: #f5365c !important;
}

a.text-red:hover,
a.text-red:focus {
  color: #ec0c38 !important;
}

.text-orange {
  color: #fb6340 !important;
}

a.text-orange:hover,
a.text-orange:focus {
  color: #fa3a0e !important;
}

.text-yellow {
  color: #ffd600 !important;
}

a.text-yellow:hover,
a.text-yellow:focus {
  color: #ccab00 !important;
}

.text-green {
  color: #2dce89 !important;
}

a.text-green:hover,
a.text-green:focus {
  color: #24a46d !important;
}

.text-teal {
  color: #11cdef !important;
}

a.text-teal:hover,
a.text-teal:focus {
  color: #0da5c0 !important;
}

.text-cyan {
  color: #2bffc6 !important;
}

a.text-cyan:hover,
a.text-cyan:focus {
  color: #00f7b5 !important;
}

.text-white {
  color: #fff !important;
}

a.text-white:hover,
a.text-white:focus {
  color: #e6e6e6 !important;
}

.text-gray {
  color: #8898aa !important;
}

a.text-gray:hover,
a.text-gray:focus {
  color: #6a7e95 !important;
}

.text-gray-dark {
  color: #32325d !important;
}

a.text-gray-dark:hover,
a.text-gray-dark:focus {
  color: #20203c !important;
}

.text-light {
  color: #ced4da !important;
}

a.text-light:hover,
a.text-light:focus {
  color: #b1bbc4 !important;
}

.text-lighter {
  color: #e9ecef !important;
}

a.text-lighter:hover,
a.text-lighter:focus {
  color: #cbd3da !important;
}