.circle-icon.big {
  width: 30px;
  height: 30px;
  font-size: 14px;
  padding: 6px;
}
.circle-icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-family: "Yekan";
  text-align: center;
  padding: 3px;
  position: relative;
  background-color: #5603ad;
  color:white;
  font-size: 1.3rem;
}