a {
  text-decoration: none; }

@font-face {
  font-family: shabnam;
  src: url(../../fonts/Shabnam.ttf); }

.background {
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(to right bottom, rgba(72, 198, 239, 0.75), #2a5298);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0; }

.center {
  width: 40% !important;
  margin-top: 10%;
  box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 3px; }

.login-title {
  font-family: Shabnam;
  font-weight: bold;
  font-size: 2rem; }

.guide-to-signup {
  font-size: 1.5rem;
  color: gray;
  font-family: Shabnam;
  margin-top: 2%; }

.link-to-signUp {
  font-size: 1.5rem;
  color: blue;
  font-family: Shabnam;
  margin-top: 2%; }

.email-input-field,
.password-input-field {
  font-family: Shabnam;
  font-weight: bold;
  font-size: 1.4rem;
  margin-right: 2%; }

.placeHolder-input {
  text-align: right;
  font-family: Shabnam; }

.email-input-login,
.password-input-login {
  width: 92% !important; }

.email-input-style,
.password-input-style {
  padding: 3% 1% !important;
  border-radius: 10px !important; }
  .email-input-style:active, .email-input-style:hover, .email-input-style:focus,
  .password-input-style:active,
  .password-input-style:hover,
  .password-input-style:focus {
    outline: none !important; }

.button-submit-login {
  width: 30%;
  font-family: Shabnam;
  font-size: 1.2rem; }
  .button-submit-login:hover, .button-submit-login:active {
    background-color: #fff !important;
    color: #218838 !important; }

#email, #password {
  font-size: 1.3rem; }

#button {
  font-size: 1.5rem; }
  #button:focus {
    outline-color: green; }

#ok {
  text-align: right; }
