@font-face {
  font-family: shabnam;
  src: url(../../fonts/Shabnam.ttf); }
.center {
  width: 35% !important;
  border: 3px solid gray;
  margin-top: 10%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.login-title{
  font-family: Shabnam;
  font-weight: bold;
  font-size: 2rem;
}
.guide-to-signup {
  font-size: 1.2rem;
  color: gray;
  font-family: Shabnam;
  margin-top: 2%;

}
.link-to-signUp{
  font-size: 1.2rem;
  color: blue;
  font-family: Shabnam;
  margin-top: 2%;
}
.email-input-field,
.password-input-field {
  font-family: Shabnam;
  font-weight: bold;
  font-size: 1.4rem;
  margin-right: 2%;

}

.placeHolder-input{
  text-align: right;
  font-family: Shabnam;
}

.email-input-login,
.password-input-login{
  width: 92% !important;
}

.button-submit-login{
  width: 30%;
  font-family: Shabnam;
  font-size: 1.2rem;
  &:hover,
  &:active{
    background-color: #fff!important;
    color: #218838!important;
  }
}