a{
  text-decoration: none;
}
@media screen and (max-width: 544px) {
  div.guide-to-signup{
    font-size: .7rem;
  }
}
@media screen and (max-width: 1000px) {
  div.center{
    width: 100% !important;
  }
}
@font-face {
  font-family: shabnam;
  src: url(../../fonts/Shabnam.ttf); }
.background {
  background-size:cover;
  background-position: top;
  background-image: linear-gradient(-135deg, #c850c0, #4158d0);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top:0;
  left:0;

}
.center {
  width: 50% !important;
  //border: 3px solid gray;
  margin-top: 10%;
  margin-bottom : 10%;
  box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 3px;
}
.login-title{
  font-family: Shabnam;
  font-weight: bold;
  font-size: 2rem;
}
.guide-to-signup {
  font-size: 1rem;
  color: gray;
  font-family: Shabnam;
  margin-top: 2%;
  text-align: center;

}
.link-to-signUp{
  font-size: 1rem;
  color: blue;
  font-family: Shabnam;
  margin-top: 2%;
}
.email-input-field,
.password-input-field {
  font-family: Shabnam;
  font-weight: bold;
  font-size: 1rem;
  margin-right: 2%;

}

.placeHolder-input{
  text-align: right;
  font-family: Shabnam;
}

.email-input-login,
.password-input-login{
  width: 92% !important;
}

.input-style
 {
  direction: rtl;
  width: 92% !important;
  padding: 3% 1% !important;
  border-radius: 10px !important;
  &:active,
  &:hover,
  &:focus{
    outline: none !important;

  }
 }

.button-submit-login{
  width: 90%;
  font-family: Shabnam;
  font-size: 1rem;
  &:hover,
  &:active{
    background-color: #fff!important;
    color: #218838!important;
  }
}
.rrui__text-input{
  width : 90%
}
#email,#password {
  font-size : 1.5rem;
}

#button{
  font-size: 1rem;
 &:focus {
   outline-color: green;
 }
}

#ok {
  text-align: right;
}

.direct-to-signup-box{
  direction: rtl;
}