@font-face {
  font-family: shabnam;
  src: url(../../fonts/Shabnam.ttf);
}

@media screen and (min-width: 767px) {
  .page-content{
    width : calc(100% - 246px)
  }
}

.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 8px 6px 2px rgba(0,0,0,.2);
  box-shadow: 0 8px 6px 2px rgba(0,0,0,.2);
}

.farsiNumbers {
  font-family: "Yekan";
  font-size: 1.2rem;
}

