html{
    font-size: 14px;
}
body {
    overflow-x: hidden;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5;
}

@font-face {
    src : url("./fonts/IRTitr.ttf");
    font-family: IRTitr;
}

@font-face {
    src : url("./fonts/Vazir.ttf");
    font-family: "Vazir";
}

@font-face {
    src : url("./fonts/F_MITRA.TTF");
    font-family: "Mitra";
}

@font-face {
    src : url("./fonts/F_yekan.ttf");
    font-family: "Yekan";
}


.directionToLeft {
    direction: rtl;
    text-align: right;
}
*{
    font-family: Shabnam;
}